<div>
    <h2 id="page-heading">
        <span jhiTranslate="teamAngusFantasyFootballApp.seasonTeam.home.title">Season Teams</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-season-team" [routerLink]="['/season-team/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="teamAngusFantasyFootballApp.seasonTeam.home.createLabel">
            Create a new Season Team
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="seasonTeams?.length === 0">
        <span jhiTranslate="teamAngusFantasyFootballApp.seasonTeam.home.notFound">No seasonTeams found</span>
    </div>
    <div class="table-responsive" *ngIf="seasonTeams?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="teamAngusFantasyFootballApp.seasonTeam.year">Year</span></th>
            <th><span jhiTranslate="teamAngusFantasyFootballApp.seasonTeam.season">Season</span></th>
            <th><span jhiTranslate="teamAngusFantasyFootballApp.seasonTeam.team">Team</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let seasonTeam of seasonTeams ;trackBy: trackId">
                <td><a [routerLink]="['/season-team', seasonTeam.id, 'view' ]">{{seasonTeam.id}}</a></td>
                <td>{{seasonTeam.year}}</td>
                <td>
                    <div *ngIf="seasonTeam.season">
                        <a [routerLink]="['/season', seasonTeam.season?.id, 'view' ]" >{{seasonTeam.season?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="seasonTeam.team">
                        <a [routerLink]="['/team', seasonTeam.team?.id, 'view' ]" >{{seasonTeam.team?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/season-team', seasonTeam.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/season-team', seasonTeam.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/season-team', { outlets: { popup: seasonTeam.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
